



.nav-extra ul {
    display: flex;
    gap: 3rem;
    list-style: none;

}

.nav-link:hover {
    color: black;
    background: RGB(255 193 7);
    border-radius: 2rem;
    padding-left: 2rem;
    
    
}


.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navbar {
    position: fixed;
    width: 100vw;
    z-index: 11;
    top: 0;
    
    
}

.nav-link{
    margin-top: 8px;
    color: RGB(255 193 7);
}

.extra-nav {
    margin-top: 7rem;
    padding: 2rem;
}
.img-slide img {
    height: 400px;
}
.img-slide {

    color: black;
}
.video-container video {
        width: 100%;
        border-radius: 2rem;
}

.p-list-container {
    display: grid;
    align-items: center;
    
}
.property-item a {
    text-decoration: none;
    color: black;
}
.p-card:hover {
    background: black;
    color: black;
    box-shadow: 5px 10px 20px 20px rgba(0, 0, 0, 0.5);
    font-size: large;
    font-weight: bolder;
   
}
.listing-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.p-card {
    box-shadow: 5px 10px 20px 20px rgba(0, 0, 0, 0.5);
}

.p-card-list {
    align-items: center;
}

.dropdown-item:hover {
    background-color: black;
    color: white;

}

/* ------------TESTIMONIALS----------- */

.testimonials__container {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
    background: #6c63ff;
    width: var(--container-width-lg);
    
    
}

.testimonial {
    margin-top: -2rem;

}

.avatar {
    
    border-radius: 40px;
    transform: scale(0.3);
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1);
}

.hero-text:hover {
    font-weight: bolder;
    font-size: larger;
    
    
}

.choose-head:hover {
    font-weight: bold;
    font-size: large;
}

.article-container {
    padding-bottom: 2rem;
}

.article-container h5 {
    margin-top: -4rem;
}
.choose-card:hover {
    background: yellow;
    color: black;
    font-weight: bolder;
    
   
}
.choose-content h5:hover {
    background: black;
}
.choose-content {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.choose-content:hover {
    background: #FFC300;
    font-weight: bolder;
    font-size: large;
    color: black;
    box-shadow: 5px 10px 20px 20px rgba(255, 195, 0, 0.5);
}
 
.testimonial__info {
    text-align: center;
}

.testimonial__body {
    
    padding: 2rem;
    margin-top: 1rem;
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;   
    
}



/* ------------END OF TESTIMONIALS----------- */
.input-box {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.input-box a {
    width: 200px;
}


/* ------------MEDIA QUERIES (TABLETS)----------- */

@media screen and (max-width: 1024px) {
    
   .navbar {
    background: transparent;
   }
}




  